@charset "UTF-8";
@font-face {
  font-family: "SiJiYuNi";
  src: url("../font/SiJiYuNi-2.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Note-Script-Medium";
  src: url("../font/Note-Script-Medium-2.ttf");
  font-weight: normal;
  font-style: normal;
}
